Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
._*
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env
.venv/
Pipfile.lock
.vscode/
.idea/
*.log
*.sqlite3
*.db
*.bak
*.exe
