/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.2.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: btd6_dwh
-- ------------------------------------------------------
-- Server version	12.2.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `dim_bloon`
--

DROP TABLE IF EXISTS `dim_bloon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_bloon` (
  `bloon_key` int(11) NOT NULL AUTO_INCREMENT,
  `bloon_id` int(11) NOT NULL,
  `bloon_name` varchar(100) NOT NULL,
  PRIMARY KEY (`bloon_key`),
  UNIQUE KEY `bloon_id` (`bloon_id`)
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_bloon`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dim_bloon` WRITE;
/*!40000 ALTER TABLE `dim_bloon` DISABLE KEYS */;
/*!40000 ALTER TABLE `dim_bloon` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `dim_round`
--

DROP TABLE IF EXISTS `dim_round`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_round` (
  `round_key` int(11) NOT NULL AUTO_INCREMENT,
  `round_id` int(11) NOT NULL,
  `duration` decimal(10,2) DEFAULT NULL,
  `base_rbe` int(11) DEFAULT NULL,
  `pop_cash` decimal(10,2) DEFAULT NULL,
  `bonus_cash` decimal(10,2) DEFAULT NULL,
  `total_cash` decimal(10,2) DEFAULT NULL,
  `layers` int(11) DEFAULT NULL,
  `base_xp` int(11) DEFAULT NULL,
  PRIMARY KEY (`round_key`),
  UNIQUE KEY `round_id` (`round_id`)
) ENGINE=InnoDB AUTO_INCREMENT=256 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_round`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `dim_round` WRITE;
/*!40000 ALTER TABLE `dim_round` DISABLE KEYS */;
/*!40000 ALTER TABLE `dim_round` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `fact_spawn`
--

DROP TABLE IF EXISTS `fact_spawn`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `fact_spawn` (
  `spawn_key` int(11) NOT NULL AUTO_INCREMENT,
  `spawn_id` int(11) NOT NULL,
  `round_key` int(11) NOT NULL,
  `bloon_key` int(11) NOT NULL,
  `quantity` int(11) DEFAULT NULL,
  `extracted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`spawn_key`),
  UNIQUE KEY `spawn_id` (`spawn_id`),
  KEY `round_key` (`round_key`),
  KEY `bloon_key` (`bloon_key`),
  CONSTRAINT `1` FOREIGN KEY (`round_key`) REFERENCES `dim_round` (`round_key`),
  CONSTRAINT `2` FOREIGN KEY (`bloon_key`) REFERENCES `dim_bloon` (`bloon_key`)
) ENGINE=InnoDB AUTO_INCREMENT=512 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fact_spawn`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `fact_spawn` WRITE;
/*!40000 ALTER TABLE `fact_spawn` DISABLE KEYS */;
/*!40000 ALTER TABLE `fact_spawn` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-07-18  9:09:20
